DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=habitflowbyme
DATABASE_USER=habitflowbyme
DATABASE_PASSWORD=habitflowbyme

ALGORITHM=HS256

# Generate a real secret in production
SECRET_KEY=change-me
