__pycache__/
*.pyc
.env
.env.prod
.venv/
.idea/
.vscode/
postgres_data/
*.egg-info/
.mypy_cache/
.ruff_cache/
.pyre/
.DS_Store
Thumbs.db

# Test artifacts
*report.html
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/
